html, body { background: #333; }
.page { clear: both; width: 21cm; height: 29.7cm; background: #fff; page-break-after: always; border-bottom: 2px dashed #000; }
.margin { padding: 2.4cm 0.58cm; clear: both; }
.coin { border: 2px solid #000; width: 3.86cm; height: 4cm; text-align: center; position: relative; float: left; background: #fefefe; }
.coin span { display: block; font-family: Tahoma; }
.coin .img:before { display: block; height: 0.1cm; content: ' '; }
.coin .year { position: absolute; top: 2.9cm; left: 0.1cm; width: 3.66cm; font-size: 0.35cm; }
.coin .name { position: absolute; top: 3.25cm; left: 0.1cm; width: 3.66cm; font-size: 0.28cm; display: flex; align-items: center; height: 0.75cm; margin: 0 auto; }
.coin .name span { display: block; text-align: center; width: 100%; }
.coin .count { position: absolute; bottom: 0.05cm; right: 0.1cm; font-size: 0.2cm; }
.uk .coin .name { display: block; }
.coin.ta .name { display: block; }

.coin .img      { display: flex; align-items: center; margin: auto; height: 2.9cm; }
.coin .img span { margin: 0 auto; display: block; width: 2.4cm; display: block; }
.coin  img      { max-width: 100%; max-height: 100%; }
.flag  img      { outline: #ccc 1px solid; }
.mine           { background: #005733; }
.acquired       { background: #abcdef; }
.purchased      { background: #dd650f; }
.bid            { background: #ddbb0f; }

.one-pound    .img span { width: 2.25cm; height: 2.25cm; }
.two-pound    .img span { width: 2.84cm; height: 2.84cm; }
.fifty-pence  .img span { width: 2.73cm; height: 2.73cm; }
.twenty-pence .img span { width: 2.14cm; height: 2.14cm; }
.one-pence    .img span { width: 2.03cm; height: 2.03cm; }
.two-pence    .img span { width: 2.59cm; height: 2.59cm; }
.five-pence   .img span { width: 1.8cm;  height: 1.8cm; }
.ten-pence    .img span { width: 2.45cm; height: 2.45cm; }

.one-cent     .img span { width: 1.625cm; height: 1.625cm; }
.two-cents    .img span { width: 1.875cm; height: 1.875cm; }
.five-cents   .img span { width: 2.125cm; height: 2.125cm; }
.ten-cents    .img span { width: 1.975cm; height: 1.975cm; }
.twenty-cents .img span { width: 2.225cm; height: 2.225cm; }
.fifty-cents  .img span { width: 2.525cm; height: 2.525cm; }
.one-euro     .img span { width: 2.325cm; height: 2.325cm; }
.two-euros    .img span { width: 2.575cm; height: 2.575cm; }

.one-isk      .img span { width: 2.15cm; height: 2.15cm; }
.five-isk     .img span { width: 2.45cm; height: 2.45cm; }
.ten-isk      .img span { width: 2.75cm; height: 2.75cm; }
.fifty-isk    .img span { width: 2.30cm; height: 2.30cm; }
.hundred-isk  .img span { width: 2.55cm; height: 2.55cm; }

.ten-hkd      .img span { width: 24mm;    height: 24mm;    }
.five-hkd     .img span { width: 27mm;    height: 27mm;    }
.two-hkd      .img span { width: 28mm;    height: 28mm;    }
.one-hkd      .img span { width: 25.5mm;  height: 25.5mm;  }
.fifty-hkc    .img span { width: 22.5mm;  height: 22.5mm;  }
.twenty-hkc   .img span { width: 19mm;    height: 19mm;    }
.ten-hkc      .img span { width: 17.55mm; height: 17.55mm; }

.five-centimes        .img span { width: 17.15mm; height: 17.15mm; }
.ten-centimes         .img span { width: 19.15mm; height: 19.15mm; }
.twenty-centimes      .img span { width: 21.05mm; height: 21.05mm; }
.half-franc           .img span { width: 18.20mm; height: 18.20mm; }
.one-franc            .img span { width: 23.20mm; height: 23.20mm; }
.two-francs           .img span { width: 27.40mm; height: 27.40mm; }
.five-francs          .img span { width: 28.40mm; height: 28.40mm; }

.one-grosz              .img span { width: 15.5mm; height: 15.5mm; }
.two-grosze             .img span { width: 17.5mm; height: 17.5mm; }
.five-groszy            .img span { width: 19.5mm; height: 19.5mm; }
.ten-groszy             .img span { width: 16.5mm; height: 16.5mm; }
.twenty-groszy          .img span { width: 18.5mm; height: 18.5mm; }
.fifty-groszy           .img span { width: 20.5mm; height: 20.5mm; }
.one-zloty              .img span { width: 23mm;   height: 23mm;   }
.two-zlote              .img span { width: 21.5mm; height: 21.5mm; }
.five-zlotych           .img span { width: 24mm;   height: 24mm;   }

.five-forint                 .img span { width: 21.20mm; height: 21.20mm; }
.ten-forint1992              .img span { width: 24.80mm; height: 24.80mm; }
.ten-forint2012              .img span { width: 24.75mm; height: 24.75mm; }
.twenty-forint                .img span { width: 26.30mm; height: 26.30mm; }
.fifty-forint                .img span { width: 27.40mm; height: 27.40mm; }
.one-hundred-forint          .img span { width: 23.80mm; height: 23.80mm; }
.two-hundred-forint          .img span { width: 28.30mm; height: 28.30mm; }


.ten-haleru               .img span { width: 15.50mm; height: 15.50mm; }
.twenty-haleru            .img span { width: 17.00mm; height: 17.00mm; }
.fifty-haleru             .img span { width: 19.00mm; height: 19.00mm; }
.one-koruna               .img span { width: 20.00mm; height: 20.00mm; }
.two-koruny               .img span { width: 21.50mm; height: 21.50mm; }
.five-korun               .img span { width: 23.00mm; height: 23.00mm; }
.ten-korun                .img span { width: 24.50mm; height: 24.50mm; }
.twenty-korun             .img span { width: 26.00mm; height: 26.00mm; }
.fifty-korun              .img span { width: 27.50mm; height: 27.50mm; }


.sg-five-cents                .img span { width: 16.75mm; height: 16.75mm; }
.sg-ten-cents                 .img span { width: 18.50mm; height: 18.50mm; }
.sg-twenty-cents              .img span { width: 21.36mm; height: 21.36mm; }
.sg-twenty-cents-2013         .img span { width: 21.00mm; height: 21.00mm; }
.sg-fifty-cents               .img span { width: 24.66mm; height: 24.66mm; }
.sg-fifty-cents-2013          .img span { width: 23.00mm; height: 23.00mm; }
.sg-one-dollar                .img span { width: 22.40mm; height: 22.40mm; }
.sg-one-dollar-2013           .img span { width: 24.65mm; height: 24.65mm; }


.medium .name { font-size: 0.26cm;  }
.small .name  { font-size: 0.24cm;  }
.tiny .name   { font-size: 0.22cm;  }
